* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-task1 {
  background-color: rgb(255, 141, 141);
  color: rgb(157, 62, 62);
  border: 2px solid black;
  font-size: 32px;
  font-weight: 500;
  width: 100px;
  height: 200px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-task1:hover,
.button-task1:hover {
  color: rgb(255, 141, 141);
  background-color: rgb(157, 62, 62);
  box-shadow: 0px 0px 31px 6px rgba(0, 0, 0, 0.63);
}

.button-task1:active {
  background-color: rgb(255, 141, 141);
  color: rgb(157, 62, 62);
  box-shadow: 0px 0px 31px 6px rgba(0, 0, 0, 0.63) inset;
}

.button-task1:disabled,
.button-task1:disabled:hover,
.button-task1:disabled:focus .button-task1:disabled:active {
  background-color: gray;
  color: darkgray;
  box-shadow: none;
}

.button-start {
  border-radius: 200px 0px 0px 200px;
}

.button-stop {
  border-radius: 0px 200px 200px 0px;
}

#datetime-picker {
  padding-left: 20px;
  color: rgb(46, 29, 29);
  font-size: 24px;
  border: 3px solid #808080;
  border-radius: 26px;
  background-color: rgba(128, 128, 128, 0.363);
}

.button-task2 {
  color: #28621869;
  padding: 1px 15px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 26px;
  border: 3px solid #28621869;
  background-color: #fff;
}

.button-task2:focus,
.button-task2:hover {
  color: #fff;
  background-color: #28621869;
  border-color: transparent;
  cursor: pointer;
}

.button-task2:disabled,
.button-task2:disabled:hover .button-task2:disabled:focus {
  color: #776f6f;
  border-color: #776f6f;
  background-color: #fff;
  cursor: not-allowed;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
}

.field {
  min-width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}

.value {
  color: #28621843;
  font-size: 72px;
  font-weight: 700;
  outline: none;
}

.value:disabled:hover {
  cursor: not-allowed;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 36px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
